
@{
    ViewData["Title"] = "SuccessfulCheckout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">

    <p>Order completed successfuly</p>
    <p>Order number : @ViewBag.orderId</p>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>